// TODO replace layout items with a proper layout library

// All layout items are prefaced with `l-` to separate them from others

.l-flex {
  display: flex;
}

.l-column {
  display: flex;
  flex-direction: column;
}

.l-center {
  justify-content: center;
  align-items: center;
}

.l-row {
  display: flex;
  flex-direction: row;
}

.l-center--text {
  text-align: center;
}

.l-start {
  justify-content: flex-start;
}

.l-end {
  justify-content: flex-end;
}

.l-grow {
  flex-grow: 1;
}

.l-space-around {
  justify-content: space-around;
}

.l-space-between {
  justify-content: space-between;
}
