@import "./settings/colours";

// Utility classes not tied to a component

.u-list--bare {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-scroll-x {
  overflow-x: scroll;
}

.u-scroll-y {
  overflow-y: scroll;
}

.u-small-scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colour-text-secondary;
    border-radius: 1px;
  }

  /* Buttons */
  &::-webkit-scrollbar-button:single-button {
    height: 0;
    width: 0;
  }
}

.u-disable-click-events {
  pointer-events: none;
  user-select: none;
}
