@import "./settings/colours";
@import "./settings/sizes";

// Utility classes not tied to a component

.u-spacing {
  padding: $size-spacing;
}

.u-list--bare {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-scroll-x {
  overflow-x: scroll;
}

.u-scroll-y {
  overflow-y: scroll;
}

.u-scroll-y-auto {
  overflow-y: auto;
}

.u-small-scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colour-text--secondary;
    border-radius: 1px;
  }

  /* Buttons */
  &::-webkit-scrollbar-button:single-button {
    height: 0;
    width: 0;
  }
}

// TODO this should be globally applied as a default
.u-text {
  font-weight: 300;
  line-height: 30px;
  size: 14px;
  box-sizing: border-box;
}

.u-disable-click-events {
  pointer-events: none;
  user-select: none;
}
