{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": ["src"],
  "exclude": ["src/__tests__/**/*.test.ts",  "**/*.d.ts", "**/*.eslintrc.js"],
  "extension": [".js", ".ts"],
  "reporter": ["text", "html"],
  "exclude-after-remap": false,
  "check-coverage": true,
  "per-file": true,
  "all": true,
  "branches": 0,
  "lines": 0,
  "functions": 0,
  "statements": 0
}
