$font-size--x-small: 6px;
$font-size--small: 10px;
$font-size: 12px;
$font-size--large: 14px;
$font-size--x-large: 18px;

$font-weight: 400;
$font-weight--large: 700;
$font-weight--x-large: 700;

$line-height: 12px;
