$font-size--x-small: 6px;
$font-size--small: 10px;
$font-size: 12px;
$font-size--large: 14px;
$font-size--x-large: 18px;

$font-weight--small: 300;
$font-weight: 400;
$font-weight--large: 700;
$font-weight--x-large: 700;

$line-height--small: 12px;
$line-height: 20px;
$line-height--large: 22px;
$line-height--x-large: 30px;

$line-height__body: $line-height;
$font-size__body: $font-size;

$font-size-subtitle-alt: $font-size--x-large;
$lint-height-subtitle-alt: $line-height--large;
