$size-window-height: 580px;
$size-window-width: 1000px;

$size-spacing--x-large: 35px;
$size-spacing--large: 15px;
$size-spacing: 10px;
$size-spacing--small: 7px;
$size-spacing--x-small: 5px;

$size-action-height: 30px;
