name: Pre-merge

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: '14'
      - run: npm ci
      - run: npm run lint -- --no-fix

  # Validate that commits are following the conventional commit format
  commit-validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: install dependencies
        run: npm ci

      - name: lint commits
        run: npx commitlint --from origin/$GITHUB_BASE_REF

  version-dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: bump version dry run
        run: npx standard-version --dry-run
